/*
	General style sheet for all custom styles
*/

#floorList {
}

#mainMenu {
}

#mainMenu div, #nodeEditorMenu div {
	margin-bottom:20px;
}

#floorEditorMenu {
	display:none;
}

#nodeEditorMenu {
	display:none;
}

#MapLayoutMenu{
    padding-top:10px;
}

#alertContainer {
    display:none;
    
    position: absolute;
    top:0px;
    left:0px;
    z-index:1001;
    
    padding-top:10px;
}

#alertMessage {
    padding-left:5px;
}

#POTIconsContainer {
    display: inline-block;
}

#POTMenu {
    width:100%;
    text-align: center;
    display:none;
    padding-top:5px;
    padding-bottom:5px;
}
