/*
	General style sheet for all custom styles
*/

#floorList {
	min-height:200px;
}

#mainMenu {
}

#mainMenu div, #nodeEditorMenu div {
	margin-bottom:20px;
}

#floorEditorMenu {
	display:none;
}

#nodeEditorMenu {
	display:none;
	padding-top:200px;
}

/*
#MapLayoutMenu {
	visibility: hidden;
}
*/