#infoEditingForm {
	width:520px;
	background-color:lightgrey;
	padding:2px;
	border:1px solid black;
}

.input-group-addon {
    min-width:188px;
    text-align:left;
}

#infoEditingFormTitle {
    font-size: 18pt;
    padding: 3px;
    -webkit-margin-before: 1.33em;
    -webkit-margin-after: 1.33em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

#uploadFile{
    display: none;
}